body {
    background: url("http://img12.deviantart.net/a813/i/2012/184/e/f/3__urgot_by_shareonthepark-d55vhcu.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: Red;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: LightGreen;
}
    h2{ font-size :2em;
        color: Azure;
    }

p {
    font-size: 1.8em;
    line-height: 1.4em;
    color: Azure;
    font-family: 'Times', 'Arial', 'San-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
ol li {
       margin: 20px auto 40px; 
    font-size 1.5em;
    color: YellowGreen; 
}
table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  color: YellowGreen;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
    color: White
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  font-size:18px;
  width: 33.3333%;
}
.border{
  border: 1px solid #DDD;
  border-radius: 3px;
}

