body {
    margin: 60px auto;
    width: 70%;
    background: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwidoJy-oeXQAhUME7wKHa5uCAkQjRwIBQ&url=http%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fbackground&psig=AFQjCNFVoVvbfRo2rjzJfmqfhchToyyZcQ&ust=1481309350337177)
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: Red;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: LightGreen;
}
p {
    font-size: 1.8em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Times', 'Arial', 'San-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
